@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-weight: 300;
}

body {
    font-family: 'montserrat';
    color: #4c4c4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

section {
    padding-top: 1em;
    padding-bottom: 1em;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.btn-primary,
.btn-default {
    font-weight: 700;
}

/* SECTION NAVBAR */
nav {
    font-family: 'roboto';
}

.navbar-brand>img {
    width: 200px;
}

/* SECTION PHP HOSTING */
.hosting-banner {
    width: 100%;
    max-width: 400px;
}

.hosting-title {
    font-weight: 700;
}

.hosting-caption {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 300;
}

.hosting-list {
    line-height: 2em;
}

/* SECTION PHP FEATURE */
.feature-image {
    height: 200px;
    width: 250px;
}

.feature-caption {
    font-weight: 300;
    font-size: .9em;
}

/* SECTION PAKET */
.paket-title {
    font-weight: 700;
}

.paket-caption {
    font-size: 1em;
}

/* SECTION TABLE PAKET */
.tabel-button {
    text-align: center;
    vertical-align: middle;
    border-top: hidden !important;
}

.tabel-title {
    font-weight: 700;
}

.btn-pilih {
    border-radius: 50px;
    border: 2px solid;
    margin-bottom: 1em;
    font-weight: 700;
}

.price-before {
    text-decoration: line-through;
    margin: 0;
}

.price-after-front {
    font-weight: 700;
    font-size: 3em;
    vertical-align: middle;
}

.tabel-pengguna {
    font-weight: 300;
}

.tabel-fitur {
    font-family: 'roboto';
    line-height: 2em;
}

.best-seller-table {
    border: 1.5px solid #60b9f4 !important;
}

.best-seller-top {
    background-color: #008fee;
    border-bottom: hidden !important;
    color: white;
}

.best-seller-mid {
    background-color: #007fde;
    color: white;
}

.btn-best {
    color: white;
    background-color: #008fee;
    font-weight: 700;
}

.best-seller-logo {
    width: 100px;
    position: absolute;
    top: -8px;
    left: -13px;
}

/* SECTION PHP LIMIT */
.limit-title {
    padding-bottom: 1em;
}

.limit-tabel {
    padding-left: 2em;
    padding-right: 2em;
}

.limit-caption {
    font-size: .9em;
    padding-top: .5em;
    padding-bottom: .5em;
}

/* SECTION HOSTING FEATURE */
.hfeature-title {
    padding-bottom: 1em;
}

.hfeature-image {
    width: 150px;
    height: 100px;
}

.hfeature-caption {
    font-size: 1.2em;
    font-weight: 300;
}

.hfeature-subcaption {
    font-size: .9em;
}

/* SECTION LARAVEL */
.laravel-title {
    padding-bottom: 1em;
}

.laravel-caption {
    /* font-size: .9em; */
    line-height: 2em;
}

.laravel-list {
    line-height: 2em;
    font-size: .9em;
}

.laravel-nb {
    font-size: .7em;
}

.laravel-image {
    max-width: 450px;
    width: 100%;
}

/* SECTION MODUL */
.modul-title {
    padding-bottom: 1em;
}

.modul-text {
    font-weight: 300;
    font-size: .8em;
    line-height: 2em;
}

.modul-tabel td {
    padding-left: 10em;
}

/* SECTION LVE */
.lve-title {
    padding-bottom: 1em;
}

.lve-caption {
    line-height: 2em;
}

/* SECTION SHARE */
.share-section {
    background-color: #F7F7F7;
}

.share-section a {
    font-size: 2em;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.share-title {
    font-weight: 300;
    font-size: .8em;
}

/* SECTION HELP */
.section-help {
    background-color: #00a2f3;
    color: white;
}

.help-title {
    font-size: 2em;
}

/* SECTION FOOTER */
.section-footer {
    background-color: #303030;
    color: #a3a3a3;
    font-size: .8em;
}

.section-footer a {
    color: #a3a3a3;
}

.footer-title {
    color: #898989 !important;
    font-size: .9em !important;
    padding-bottom: .5em;
}

.btn-news {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    background-color: #00a2f3;
    color: white;
    font-weight: normal;
}

.footer-icon {
    border-radius: 50%;
    border: solid white;
    padding: 15px;
    width: 50px;
    height: 50px;
    font-size: 1rem;
}

/* SECTION COPYRIGHT */
.section-copyright {
    background-color: #303030;
    color: #a3a3a3;
    font-size: .5em;
}

.section-copyright a {
    color: #a3a3a3;
}

/* SECTION PAYMENT */
.payment-icon {
    filter: white;
    -webkit-filter: brightness(0) invert(1);
    width: 50px;
}